
body {
  background-image: url("https://img.freepik.com/free-vector/violet-swirl-pattern_1040-22.jpg?size=338&ext=jpg");
}
h1 {
  color: white;
  text-align: center;
}
h3 {
  color: white;
  text-align: center;
}
h5 {
  color: white;
  text-align: center;
}
h2 { 
  color: white;
  text-align: center;

}